<div class="ktme-container" ktme-draggable-element>
	<div ktme ktme-row>
  		<input style="width: 20%; padding: 5px;" type="text" ktme-property placeholder="property" />
  		<button ktme ktme-add-property> add </button>
  	</div>
  
  	<div ktme ktme-row>
  		<input style="width: 90%; padding: 5px;" type="text" ktme-url/>
  	</div>

  	<div ktme>
  		<fieldset class="radiogroup" ktme>
  			<legend ktme>Similars</legend>
  			<ul class="radio" ktme>
  				<li ktme>
  					<input type="radio" name="similars" id="class-target" value="class" ktme/>
				    <label for="class-target" ktme>
				    	<span ktme-count-by-class ktme>0</span> - Class
				    </label>
  				</li>
				<li ktme>
					<input type="radio" name="similars" id="id-target" value="id" ktme />
					<label for="id-target" ktme>
						<span ktme-count-by-id ktme>0</span> - ID
					</label>
				</li>
				<li ktme>
					<input type="radio" name="similars" id="text-target" value="text" ktme/>
					<label for="text-target" ktme>
						<span ktme-count-by-text ktme>0</span> - Text
					</label>
				</li>
				<li ktme>
					<input type="radio" name="similars" id="position-target" value="position" checked ktme/>
					<label for="position-target" ktme>
						<span ktme-count-by-position ktme>0</span> - Position
					</label>
				</li>
  			</ul>
  		</fieldset>
  		<button ktme-set-collection ktme>Save Collection</button>
	</div>
	<div class="ktme-options" ktme>
		<div class="span options" ktme>
			<input type="radio" name="element" value="one" checked ktme>One<br>
  			<input type="radio" name="element" value="all" ktme>All<br>
  		</div>

		<div class="ktme-exit-extension" ktme>
			<span ktme> Sair </span>
  		</div>
  	</div>
</div>

 <style type="text/css">

	*[hover-inspect] {
	  cursor: default !important;
	  background-color: #C2C5FF !important;
	  box-shadow: 0 5px 15px rgba(145, 92, 182, .4) !important;
	}

	*[highlighted-inspect] {
	  background-color: orange !important;
	  box-shadow: 0 5px 15px rgba(145, 92, 182, .4) !important;
	}

	*[similar-inspect] {
	  cursor: default !important;
	  background-color: yellow !important;
	  box-shadow: 0 5px 15px rgba(145, 92, 182, .4) !important;
	}

	.ktme-container {
	  display: table !important;
	  width: 500px !important;
	  font-family: arial, helvetica, sans-serif !important;
	  position: fixed !important;
	  top: 2px;
	  right: 5px;
	  z-index: 2147483647 !important;
	  background-color: rgb(241, 241, 241) !important;
	  border-top-right-radius: 8px !important;
	  border-bottom-right-radius: 8px !important;
	  border-bottom-left-radius: 8px !important;
	  border-top-left-radius: 8px !important;
	  -webkit-background-clip: padding-box !important;
	  background-clip: padding-box !important;
	  box-shadow: rgba(0, 0, 0, 0.298039) 0px 6px 10px !important;
	  font-size: initial !important;
	  vertical-align: baseline !important;
	  box-sizing: border-box !important;
	  line-height: normal !important;
	  color: rgb(119, 119, 119) !important;
	  cursor: move !important;
	  opacity: 1 !important;
	  border: 1px solid rgb(238, 238, 238) !important;
	  padding: 3px !important;
	  margin: 0px !important;
	  animation: controlFadingIn 0.3s forwards !important;
	}

	.ktme-container > div {
	  display: inline-block !important;
	  vertical-align: top !important;
	}
	   
	.ktme-container > div[ktme-row] {
	  display: block !important;
	}
	   
	.options {
	  z-index: 999 !important;
	  margin-left:5px !important;
	}

	.select {
	  background-size: 16px !important;
	  width:16px !important;
	  height:16px !important;
	  display: inline-block !important;
	  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+UlEQVQ4T6WTsW7CMBCG/3MmFugTIOUsZewCj1BWBC/AwHOx9gHaCbWvUAbEFsUXde8AI4uNnCaRQYEExYtlWf/3351/E3ou6qnH0wBmHgMYicjBmz8FYOYpEX0DGDrnViLy3hkQiF/KtnfGmGknwK3YWnuOomieZdlXDdBaT6y1f3me/4aDbRIrpRbGmG09A2ZeE9EGwMk5NxORH3/ZJq4BWus9gNfS+eghxeX/wIqefdmhc1Vl0QIzvxHRJ4BBBSn3h+KrZ4zjeKaU+gggBeOe81UF1eEW0iZuDFIA8e0tq2nfi3xjDpIkYS9I01Ta/kqnID2C9AZcAOU9cBF5pN6fAAAAAElFTkSuQmCC') no-repeat !important;
	}

	.exclude {
	  background-size: 16px !important; 
	  width:16px !important;
	  height:16px !important;
	  display: inline-block !important;
	  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABZUlEQVQ4T6WTv0vDUBDHL0ElMQ7NWsjUbIEsEXRQKC2iUH+BqH9kWysuOvgjCiIOXQIdHxRSOpYsMRc1nLySxJcmDtJs713uc3ff7z0JlvykJfOhALAsawMRdwzDuHdd91uEW5a1hohtTdNePM8Ls1gOSJOfAGATAG4URTkfjUaf/Mc0+QoAOkT0joit6XT6wWM5oNFoHADArVB1DuFnRJwnC7EWY4wX+wU0m80V3/f7AHAsQohIkiTpSLgbMMY4OCkAhFa7CxBRikGtVrscDodfJQ2yi3TeKkgpudRB1kUURb2FtoGIrnVdvxCrV44Qx3GfiA6r9qMKItrIfV5Ue5CKeCoKaxjGWbYnOcA0zX0iuhPV5oLx82w268qyfCLE2oyxx8II9Xp9XVXVBwDYBoCCYI7jrAZB0EvdeY3jeG8ymUQlDWzb1sIw3GKMPWc+Z1XTPdlNkuRtPB7jnzb+93Et/Rp/AIOvqxGqyMNZAAAAAElFTkSuQmCC') no-repeat !important;
	}
</style>